1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* 
'hello'
-87.8
- 
/ 
+	
6

<font color="blue">

**Ans:**
    
Values:

'hello' (string value) 
    
-87.8 (floating-point number value)
       
 6 (integer value)
       
Expressions (mathematical operators):

'-'
    
'*'
    
'/'
    
    
'+'
    
    
The elements '*', '-', '/', and '+' are mathematical operators, which are used in expressions to perform operations on values. The values themselves are 'hello', -87.8, and 6.

In [6]:
#example of operators:
a=10
b=5
add = a+b
subtract =a-b
multiply =a*b
divide =a/b
print(f"{a} + {b} = {add}")
print(f"{a} - {b} = {subtract}")
print(f"{a} * {b} = {multiply}")
print(f"{a} / {b} = {divide}")

10 + 5 = 15
10 - 5 = 5
10 * 5 = 50
10 / 5 = 2.0

2. What is the difference between string and variable?

<font color="blue">
    
**Ans:**
    
Variable is like a container where the value of a data type can be stored with a specific name, data type can be string  or integer or float.  
String is a data type which consists of sequence of characters in quotes, strings store the sequence of characters in text these are immutable, meaning string contents cannot be changed after string creation as the memory of string  are stored as bundle and cannot be altered.

In [11]:
a=[1, 2, 3] # a is variable where the list [1,2,3] is saved
print(f"original a :{a}")
a[1]=55 #2nd element is replaced with 55
print(f"modifed a :{a}")
b="Bharath" # b is variable where "Bharath" is a string saved in variable
print(f"original b  :{b}")

original a :[1, 2, 3]
modifed a :[1, 55, 3]
original b  :Bharath

In [13]:
b[1]="j"# as we  can see from result string charates cannot be changed as in list

TypeError: 'str' object does not support item assignment

3. Describe three different data types.

<font color="blue">
    
**Ans:**
    

int: Integer data type for whole numbers (e.g., 5, -10, 0).
    
    
float: Floating-point data type for numbers with a fractional part (e.g., 3.14, -2.5).
    
    
str: String data type for sequences of characters, representing text (e.g., "hello", 'world',”123”).

4. What is an expression made up of? What do all expressions do?

<font color="blue">
    
**Ans:**

An expression is a combination of values, variables, operators, and/or function calls that can be evaluated to produce a single value. Expressions are the building blocks of programming and mathematics, and they represent computations or operations that are carried out within a programming language or mathematical context.

In [19]:
#Examples of expressions

a=5 + 3 * 2
print(a)

age=15
age >= 18

11

False

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

<font color="blue">

**Ans:**
    


An expression is a combination of variables, operators that results in a single value(5 + 3  )
Statements are used to perform logical instruction which can perform part of code or complete code
    
    
Expression Examples:

5 + 3 (evaluates to 8)
    
x * y (evaluates to the product of x and y)
    
len("hello") (evaluates to the length of the string "hello")
    
True (evaluates to the boolean value True)
    
Statement Examples:

spam = 10 (assignment statement)
    
if x > 0: ... (if statement for conditional execution)
    
for item in list: ... (looping statement)
    
print("Hello, world!") (function call statement to print)

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [9]:

bacon = 22
bacon + 1 # here bacon+1 will become 23
bacon # here bacon is still 22 as bacon +1 was not assinged to bacon

22

7. What should the values of the following two terms be?

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

<font color="blue">

**Ans:**

variables names never start with number as per its definition, so 100  variable will be a invalid name for variable

In [20]:
egg=100
print(f"no eggs are : {egg}")

no eggs are : 100

In [31]:
100=eggs
print(f"{100} eggs")

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3362505004.py, line 1)

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

<font color="blue">

**Ans:**
    
Integer Conversion:

Function: int()
Description: Converts a value to an integer type.
Example: int("42") would convert the string "42" to the integer 42.
Floating-Point Conversion:

Function: float()
Description: Converts a value to a floating-point number type.
Example: float("3.14") would convert the string "3.14" to the floating-point number 3.14.
String Conversion:

Function: str()
Description: Converts a value to its string representation.
Example: str(42) would convert the integer 42 to the string "42".

10. Why does this expression cause an error? How can you fix it?

In [10]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

<font color="blue">

**Ans:**

 Here 'I have eaten ' and ' burritos.' are strings which cannot be concatenated with integers which create data type error, correction for this is :

In [11]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'